name: Run Konveyor nightly tests

on:
  schedule:
    - cron: "5 3 * * *"
  workflow_dispatch:

jobs:
  main-nightly:
    uses: ./.github/workflows/global-ci.yml
    with:
      tag: latest
      golang_tests_ref: main
      ui_tests_ref: main
  release-0_1-nightly:
    uses: ./.github/workflows/global-ci.yml
    with:
      tag: release-0.1
      golang_tests_ref: 95c17ea090d50c0c623aa7d43168f6ca8fe26a88
      ui_tests_ref: mta_6.1.1
  release-0_2-nightly:
    uses: ./.github/workflows/global-ci.yml
    with:
      tag: release-0.2
      golang_tests_ref: 95c17ea090d50c0c623aa7d43168f6ca8fe26a88
      # TODO: this needs to be pinned to a release-0.2 specific branch
      ui_tests_ref: main
