name: Run UI tests

on:
  workflow_call:
    inputs:
      ui_tests_ref:
        description: Ref in this repo to use for the tests
        type: string
        default: main

      ui_test_tags:
        description: Comma separated list of test tags to run
        type: string
        default: "@ci,@tier0"

jobs:
  run-ui-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Extract pull request number from inputs or PR description
        env:
          body: ${{ github.event.pull_request.body }}
        run: |
          PULL_REQUEST_NUMBER=$(echo ${body} | grep -oP '[U|u][I|i] [T|t]ests [P|p][R|r]: \K\d+' || true)
          [ -z "$PULL_REQUEST_NUMBER" ] \
            && UI_TESTS_REF=${{ inputs.ui_tests_ref }} \
            || UI_TESTS_REF=refs/pull/$PULL_REQUEST_NUMBER/merge

          echo "UI_TESTS_REF=${UI_TESTS_REF}" >>"$GITHUB_ENV"
          echo "Using UI_TESTS_REF \`${UI_TESTS_REF}\`" >>"$GITHUB_STEP_SUMMARY"

      - name: Checkout UI tests
        uses: actions/checkout@v4
        with:
          ref: "${{ env.UI_TESTS_REF }}"
          repository: konveyor/tackle2-ui
          path: ui-tests

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: "ui-tests/package.json"
          cache: "npm"
          cache-dependency-path: "ui-tests/package-lock.json"

      - name: Install dependencies
        run: |
          cd ui-tests
          npm clean-install --no-audit

      - name: Run login tests
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_baseUrl: "${{ env.UI_URL }}"
          CYPRESS_USER: admin
          CYPRESS_PASSWORD: Dog8code
          CYPRESS_INITIAL_PASSWORD: Passw0rd!
          CYPRESS_KEYCLOAK_ADMIN_PASSWORD: admin123
        with:
          install: true
          working-directory: ./ui-tests
          project: ./cypress
          spec: "**/e2e/tests/login.test.ts"

      - name: Run UI tests
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_INCLUDE_TAGS: "${{ inputs.ui_test_tags }}"
          CYPRESS_baseUrl: "${{ env.UI_URL }}"
          CYPRESS_USER: admin
          CYPRESS_PASSWORD: Dog8code
          CYPRESS_GIT_USER: "fakeuser"
          CYPRESS_GIT_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"
        with:
          install: false
          working-directory: ./ui-tests
          project: ./cypress

      - name: Upload cypress report data as artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports-${{ env.UI_TESTS_REF }}
          path: |
            ui-tests/cypress/runs

